.timeline__section {
    position: relative;
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 600px;
}

.timeline__section::before {
    content: '';
    position: absolute;
    top: 200px;
    bottom: 5rem;
    left: 50%; 
    width: 2px;
    background-color: var(--Hover-Burgundy);
    transform: translateX(-50%); 
    z-index: 0; 
}

.timeline__title {
    text-align: center;
    margin-bottom: 4rem;
    position: relative;
    z-index: 1;
}

.timeline__title .timeline__subtitle {
    color: var(--Rich-Burgundy);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.timeline__item--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    position: relative;
    z-index: 1;
}

.timeline__item {
    width: 100%;
    position: relative;
}

.timeline__item.image__box {
    margin-bottom: 0; 
}

.timeline__item.image__box img {
    width: 100%;
    display: block;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.timeline__item.text__box {
    background: white;
    padding: 1.875rem;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.timeline__item.text__box .timeline__subtitle {
    color: var(--Deep-Charcoal);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}