.about__image--bg {
    background: url('../../assets/images/about-us-bg.png');
    background-size: cover;
    background-position: center;
    height: 30vh;
    margin-bottom: 3rem;
}

.timeline__section {
    position: relative;

    padding: 1rem;
    margin: 0 auto;

    .timeline__title {
        text-align: center;
        margin: 0 0 4rem;

        .timeline__subtitle {
            color: var(--Rich-Burgundy);
            margin: 0 0 0.5rem;
            text-transform: uppercase;
        }
    }

    .timeline__item {
        position: relative;
        z-index: 1; 
        margin-bottom: 2.5rem;
        text-align: center;        
    }

    .timeline__item.text__box {
        background: white;
        padding: 1.875rem;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        border-top: 5px solid var(--Hover-Burgundy); 

        .timeline__subtitle {
            color: var(--Deep-Charcoal);
            margin: 0 0 0.5rem;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }

    .timeline__item.image__box img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.timeline__section::before {
    content: '';
    position: absolute;
    top: 50vh;
    bottom: 5rem;
    left: 50%; 
    width: 1.5px;
    background-color: var(--Hover-Burgundy);
    transform: translateX(-50%); 
    z-index: 0; 
}

.carousel__section {
    background: var(--Gold-Brass);
    padding: 1.5rem;
}

.carousel {
    height: 50vh;
    overflow: hidden;
}

.carousel__item {
    position: relative;

    .carousel__overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Perfectly centers the text */
        text-align: center;
        width: 80%;
        color: #fff;
        z-index: 2;

        .carousel__title,
        .carousel__description {
            color: var(--Cream-Ivory);
            font-weight: 700;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    }
}

.carousel__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%); 
}

.learn__more--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 2rem 0 2rem;

    .learn__more--image,
    .learn__more--text {
        margin: 0 0 1rem;
    }
}
