.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  anchor-name: --carousel;
  scroll-marker-group: after;

  &::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;

    position-anchor: --carousel;
    position-area: bottom;
    position: absolute;
    top: -5.5vh;
  }

  > li {
    scroll-snap-align: center;

    &::scroll-marker {
      content: " ";
      width: 0.5rem;
      height: 0.5rem;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      border: 2px solid var(--Gold-Brass);
    }

    &::scroll-marker:target-current {
      background: var(--Rich-Burgundy);
    }
  }

  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    margin: 1rem;
    padding: 0.25rem 0.5rem;

    background: var(--Gold-Brass);
    border: 0;
    border-radius: 100%;
    font-weight: 700;

    display: none;
  }

  &::scroll-button(right) {
    content: "❯";
    position-area: center right;
  }

  &::scroll-button(left) {
    content: "❮";
    position-area: center left;
  }
}

.reservation {
  padding: 1rem 0 0;
  margin-top: 0.25rem;

  background-color: var(--Gold-Brass);

  .reservation__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
    margin-top: 2.5rem;

    .reservation__title {
      text-transform: uppercase;
    }
  }
}

.menu__preview--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  
  padding: 1rem 0;
  gap: 1rem;

  .category__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: uppercase;
  }
}