.home__page--carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;

  @media only screen and (max-width: 787px) {
    height: 54vh;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  anchor-name: --carousel;
  scroll-marker-group: after;

  &::-webkit-scrollbar {
    display: none;
  }

  &::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;

    position-anchor: --carousel;
    position-area: bottom;
    position: absolute;
    top: -5.5vh;
  }

  > li {
    scroll-snap-align: center;

    &::scroll-marker {
      content: " ";
      width: 0.5rem;
      height: 0.5rem;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      border: 2px solid var(--Gold-Brass);
    }

    &::scroll-marker:target-current {
      background: var(--Rich-Burgundy);
    }
  }

  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    margin: 1rem;
    padding: 0.25rem 0.5rem;

    background: var(--Gold-Brass);
    border: 0;
    border-radius: 100%;
    font-weight: 700;

    display: none;
  }

  &::scroll-button(right) {
    content: "❯";
    position-area: center right;
  }

  &::scroll-button(left) {
    content: "❮";
    position-area: center left;
  }
}

.reservation {
  padding: 1rem 0 0;
  margin-top: 0.25rem;

  background-color: var(--Gold-Brass);

  .reservation__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .reservation__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;

    .reservation__title {
      text-transform: uppercase;
      font-weight: 700;
      
      letter-spacing: 1px;

    }
  }
}

.menu__title {
  text-transform: uppercase;
  text-align: center;
  margin: 2rem;
  color: var(--Rich-Burgundy);
}

.menu__preview--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  padding: 0 1rem;
  margin: 2rem 0;
  gap: 1rem;

  .category__card {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--Deep-Charcoal);
    color: var(--Cream-Ivory);

    .category__image-container {
      width: 100%;
      aspect-ratio: 1 / 1;
      overflow: hidden;

      border-radius: 0.5rem 0.5rem 0 0;
    }

    .category__image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      display: block;
    }

    .category__info {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-height: 60px;
      padding: 1rem 0.5rem;

      .category__name {
       font-family: var(--Heading-Font);
      }
    }
  }
}

.menu__action {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.learn__more--section {
  background-color: var(--Gold-Brass);
  padding: 3rem 1.5rem;
  margin: 4rem 0;

  .learn__more--grid {
    display: grid;
    align-items: center;
    text-align: center;

    .learn__more--title {
      text-transform: uppercase;
      margin-top: 1rem;
    }

    .learn__more--title,
    .learn__more--text {
      margin-bottom: 1rem;
      color: var(--Deep-Charcoal);
    }
  }
}

.margin__md {
  margin: 3rem 0 0 0;
}

.instagram__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 4rem 0;

  .instagram__title {
    text-transform: uppercase;
    color: var(--Rich-Burgundy);
  }
}

.instagram__images--carousel {
  display: flex;
  gap: 1rem;
  padding: 2rem 1rem;

  overflow-x: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* Hover, Active States */
.category__card:hover,
.category__card:active {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .home__page--carousel {
    height: 65vh;
    overflow: hidden;
  }

  .reservation {
    height: 25vh;

    .reservation__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .reservation__text {
      display: flex;
      margin: 0 auto;
    }
  }

  .menu__title {
    margin: 4rem 0 0;
  }

  .menu__preview--grid {
    grid-template-columns: repeat(auto-fit, minmax(19vw, 1fr));
    padding: 0 10vw;

    .category__card {
      .category__info {
        min-height: 6rem;

        .category__name {
          font-size: 1.5rem;
        }
      }

      .category__image-container {
       height: 15.625rem;
      }
    }
  }

  .category__card:hover,
  .category__card:active {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}