/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0;
    
  background-color: var(--Deep-Charcoal);
  position: relative;

  .logo {
    margin-bottom: 1rem;
  }

  .nav__title {
    font-family: var(--Heading-Font);
    font-weight: 700;
    color: var(--Rich-Burgundy);

    border-bottom: 2px solid var(--Rich-Burgundy);
    width: 100%;
  }

  .nav__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

/* Mobile Menu Active/Hidden Styles */
.menu__icon--close {
  display: none;
}

.navbar.navbar--open .menu__icon--hamburger {
  display: none;
}

.navbar.navbar--open .menu__icon--close {
  display: block;
  position: fixed;
  top: 1.5rem;
  right: 0.5rem;

  z-index: 2;
}

.nav__list {
  display: none;
}

.nav__list.nav__list--open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full viewport height minus navbar height */
  
  background-color: var(--Gold-Brass);
  color: var(--Deep-Charcoal);
  font-family: var(--Heading-Font);
  font-weight: 700;
  font-size: 1.5rem;
  z-index: 1;
}


/* Hover, Animations */
.nav__list li:hover {
  color: var(--Hover-Burgundy);
}

.menu__icon--hamburger:hover,
.menu__icon--close:hover,
.nav__list li:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.menu__icon--hamburger:active,
.menu__icon--close:active {
  transform: rotate(180deg);
  transition: transform 1s ease-in-out;
}

.nav__login--btn:hover,
.nav__order--btn:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}





