.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
    
  background-color: var(--Deep-Charcoal);
  position: relative;

    .nav__title {
      font-family: var(--Heading-Font);
      font-weight: 700;
      color: var(--Rich-Burgundy);

      border-bottom: 2px solid var(--Rich-Burgundy);
      width: 100%;
    }

    .nav__actions {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
}



/* Mobile Menu Active/Hidden Styles */
.menu__icon--close {
  display: none;
}

.navbar.navbar--open .menu__icon--hamburger {
  display: none;
}

.navbar.navbar--open .menu__icon--close {
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;

  z-index: 1;
}

.nav__list {
  display: none;
}

.nav__list.nav__list--open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full viewport height minus navbar height */
  background-color: var(--Gold-Brass);

  font-family: var(--Heading-Font);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--Deep-Charcoal);
}