/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
    
  background-color: var(--Deep-Charcoal);
  position: relative;

  .nav__title {
    font-family: var(--Heading-Font);
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--Rich-Burgundy);
    width: 100%;
  }

  .nav__title--secondary {
    margin-top: 2.5rem;
  }

  .nav__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    gap: 0.5rem;
    bottom: 2rem;
  }

  .nav__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

/* Mobile Menu Active/Hidden Styles */
.menu__icon--close {
  display: none;
}

.navbar.navbar--open .menu__icon--hamburger {
  display: none;
}

.navbar.navbar--open .menu__icon--close {
  display: block;
  position: fixed;
  top: 1.5rem;
  right: 0.5rem;

  z-index: 1000;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  
  background-color: var(--Gold-Brass);
  color: var(--Deep-Charcoal);
  font-family: var(--Heading-Font);
  font-weight: 700;
  font-size: 1.5rem;
  z-index: 999;

  transform: translateX(-100%); 
  visibility: hidden;
  

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), visibility 0.5s;
  backface-visibility: hidden;
}

.nav__list.nav__list--open {
  transform: translateX(0);
  visibility: visible;
}


/* Hover, Animations */
.nav__list li:hover {
  color: var(--Hover-Burgundy);
}

.menu__icon--hamburger:hover,
.menu__icon--close:hover,
.nav__list li:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.nav__login--btn:hover,
.nav__order--btn:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}





