.contact__content {

    .background__image--intro {
        background: url('../../assets/images/contact-bg.png');
        background-size: cover;
        background-position: center;
        height: 30vh;

        margin-bottom: 2.5rem;
    }

    .carousel__container {
        height: 80vh;
        padding: 1rem;

        background-color: var(--Gold-Brass);

        .carousel {
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;

            li img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}