.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--Deep-Charcoal);
    color: var(--Cream-Ivory);
    padding: 3rem 2rem;

    .footer__links--container {

        .footer__main {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;

            .col__01,
            .col__02 {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                text-transform: uppercase;
                font-weight: 500;
            }
        }

        .footer__secondary,
        .socials__text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            margin-bottom: 1rem;
        }

        .socials__icons {
            display: flex;
            align-items: flex-start;
            gap: 0.75rem;

            margin-bottom: 3rem;
        }
    }

    .footer__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        font-family: var(--Text-Font);

        .footer__info {
            display: flex;
            flex-direction: column;

            margin-top: 1rem;
        }

        .texas__link,
        .github__link {
            color: var(--Gold-Brass);
            font-family: var(--Text-Font);
            font-size: 1rem;  
        }

        .texas__link:hover,
        .github__link:hover {
            text-decoration: underline;
            color: var(--Hover-Gold);
            transform: scale(1.12);
        }

        .texas__link:active,
        .github__link:active {
            transform: scale(0.9);
        }
    }
}

/* Hover and Active States */
.footer__content .footer__links--container .footer__main .col__01 a:hover,
.footer__content .footer__links--container .footer__main .col__02 a:hover,
.footer__content .footer__links--container .footer__secondary a:hover,
.footer__content .footer__links--container .footer__legal a:hover {
    text-decoration: underline;
    color: var(--Hover-Gold);
}


.footer__content .footer__links--container .socials__icons a {
    display: inline-block;
    transition: transform 0.2s ease-in-out; 
}

.footer__content .footer__links--container .socials__icons a:hover {
    transform: scale(1.1);
}

.footer__content .footer__links--container .socials__icons a:hover svg {
    fill: var(--Hover-Gold); /* Or stroke, depending on your SVG */
    stroke: var(--Hover-Gold);
    transition: fill 0.2s ease;
}

.socials__icons a:hover svg#Layer_1 .cls-1 {
    stroke: var(--Hover-Gold) !important;
}

.footer__content .footer__links--container .socials__icons a:active {
    transform: scale(0.9);
}

