.menu__header {
    background: url('../../assets/images/menu-header.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 1rem 2rem;

    h2, p {
        font-weight: 700;
    }
   
    h2, p {
        color: var(--Cream-Ivory);
    }

    p {
        margin-bottom: 1rem;
    }
}

.menu__categories {
    background-color: var(--Gold-Brass);
    padding: 1rem;
}

.menu__categories--list {
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;

    gap: 1rem;

    &::-webkit-scrollbar {
        display: none;
    }

    li {
        color: var(--Deep-Charcoal);
        font-weight: 700;
        font-family: var(--Heading-Font);
        cursor: pointer;

        flex-shrink: 0;
        scroll-snap-align: start;
    }

    li.active,
    li:hover {
        color: var(--Hover-Burgundy);
        text-decoration: underline;
    }
}