.menu__container {

}

.menu__header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../assets/images/menu-header.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;

    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16 / 5;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 1rem 2rem;


    h2, p {
        font-weight: 700;
    }
   
    h2, p {
        color: var(--Cream-Ivory);
    }

    p {
        margin-bottom: 1rem;
    }

    .menu__header--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.menu__categories {
    background-color: var(--Gold-Brass);
    padding: 1.5rem;
    position: relative;
    width: 100%;
}

.menu__category--title {
    display: none;
}

.menu__categories--list {
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;

    gap: 1.5rem;

    &::-webkit-scrollbar {
        display: none;
    }

    li {
        color: var(--Deep-Charcoal);
        font-weight: 700;
        font-family: var(--Heading-Font);
        font-size: 1.2rem;
        cursor: pointer;

        flex-shrink: 0;
        scroll-snap-align: start;
    }

    li.active,
    li:hover {
        color: var(--Hover-Burgundy);
        text-decoration: underline;
    }
}

.menu__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    gap: 1rem;
    padding: 2rem 1.5rem;

    .menu__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.category__card,
.menu__card {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--Deep-Charcoal);
    color: var(--Cream-Ivory);

    .category__card--image,
    .menu__card--image {
      width: 100%;
      aspect-ratio: 1 / 1;
      overflow: hidden;

      border-radius: 0.5rem 0.5rem 0 0;
    }

    .category__card--image img,
    .menu__card--image img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      display: block;
    }

    .category__card--overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      min-height: 60px;
      padding: 1rem 0.5rem;
    }
}

.menu__card--info {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    padding: 0.5rem;

    p {
        text-transform: capitalize;
    }

    .btn__order {
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {

    .menu__header {
        height: 65vh;
        justify-content: center;
        
        .menu__header--content {
            width: 30%;
        }
    }

    .menu__main-section {
        display: flex;
        flex-direction: row; /* Move sidebar to the left */
        align-items: flex-start;
        padding: 2rem 9vw;
        gap: 1rem;
    }

    .menu__category--title {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;

        color: var(--Deep-Charcoal-Darker);
        border-bottom: 2px solid var(--Deep-Charcoal-Darker);
        padding: 0 0 1.25rem 0;
        width: 100%;
    }

    .menu__content {
        display: flex;
        flex-shrink: 0;
        width: 250px;
    }

    .menu__categories {      
        flex-shrink: 0;   
        position: sticky;  
        top: 20px;

        border-top: 5px solid var(--Deep-Charcoal-Darker);
    }

    .menu__categories--list {
        align-items: flex-start;
        flex-direction: column;
        scroll-behavior: unset;
        overflow-x: unset;
        scroll-snap-type: unset;
        gap: 1rem;

        li {
            scroll-snap-align: unset;
        }

        a {
            font-weight: 700;
        }
    }


    .menu__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        flex-grow: 1; 

        padding: 0;
    }
}