.menu__header {
    background: url('../../assets/images/menu-header.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 1rem 2rem;

    h2, p {
        font-weight: 700;
    }
   
    h2, p {
        color: var(--Cream-Ivory);
    }

    p {
        margin-bottom: 1rem;
    }
}

.menu__categories {
    background-color: var(--Gold-Brass);
    padding: 1.5rem;
    position: relative;
    width: 100%;
}

.menu__categories--list {
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;

    gap: 1.5rem;

    &::-webkit-scrollbar {
        display: none;
    }

    li {
        color: var(--Deep-Charcoal);
        font-weight: 700;
        font-family: var(--Heading-Font);
        font-size: 1.2rem;
        cursor: pointer;

        flex-shrink: 0;
        scroll-snap-align: start;
    }

    li.active,
    li:hover {
        color: var(--Hover-Burgundy);
        text-decoration: underline;
    }
}

.menu__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    gap: 1rem;
    padding: 2rem 1.5rem;

    .menu__card {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

.category__card {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--Deep-Charcoal);
    color: var(--Cream-Ivory);

    .category__card--image {
      width: 100%;
      aspect-ratio: 1 / 1;
      overflow: hidden;

      border-radius: 0.5rem 0.5rem 0 0;
    }

    .category__card--image img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      display: block;
    }

    .category__card--overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      min-height: 60px;
      padding: 1rem 0.5rem;
    }
}